 .head-nav {
        width:100%;
        height: 100px;
        background: #2c3544;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 99;
        color: #FFF;
         line-height: 100px;
        .logo{
            width:240px;
            height:100px;
            background-color: #1c202a;     
            line-height: 100px;   
            .icon_logo{
                display:inline-block;
                vertical-align: middle;
                width: 165px;
                height: 40px;
                margin-left: 18px;
                background-position:-11px -8px;
            }
            .icon_align_justify{
                display:inline-block;
                vertical-align: middle;
                width: 29px;
                height: 24px;
                margin-left: 15px;
                background-position:-79px -53px;
                cursor: pointer;
            }
        }
        .nav_menu{
            float:right;
            margin-right:47px;

            ul{  
                float:right;
                li{ 
                    height:100px;
                    line-height:100px;
                }
            }
            .role{
                height:100px;
                line-height:100px;
                float:right;
                .el-dropdown{
                    color:#fff;
                    .el-dropdown-link{
                        cursor: pointer;
                    }
                }
            }
            em{ 
                font-style:normal;
                float:right;
                margin-right:34px;
            }
        }
    }
    .el-menu--dark{
        background-color:transparent;
    }
    .el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item, .el-menu-item {
        color: #fff;
        &:hover{
            border-bottom:4px solid transparent;  
        }
        &.is-active{
            color:#fff;
            border-bottom:4px solid #0287fe;
        }
        
    }
    /*.userinfo {
        text-align: right;
    }

    .username {
        height: 60px;
        line-height: 60px;
        cursor: pointer;

        .el-dropdown {
            color: #FFF;
        }
    }
    .lang {
          height: 60px;
          line-height: 60px;
          cursor: pointer;
          color: #fff;
        }*/
    .icon_drop_down{
        background-position: -86px -87px;
        width: 15px;
        height: 9px;
    }