.fa {
  margin-right: 8px;
}
.left-fixed-right-auto {
  padding-top: 60px;
}
.left {
  position: fixed;
  float: left;
  margin-top: 60px;
  z-index: 100;
  /*margin-right:-190px;*/
  top: 0px;
}
.right-content {
  float: right;
  width: 100%;
}
#left-menu {
  height: 100%;
  background: #1c202a;
  overflow-x: hidden;
}
.el-menu--dark {
  background-color: #1c202a;
}
.toggle-menu {
  width: 40px;
  height: 40px;
  background: #1f2f3d;
  position: absolute;
  top: 60px;
  /*left: 190px;*/
  z-index: 1000;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  opacity: 0.2;
  transition: opacity 0.3s ease-out;
}
.toggle-menu:hover {
  opacity: 1;
}
.el-menu-vertical-demo .el-menu-item,
.el-submenu__title {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
.el-menu-vertical-demo .el-menu-item.is-active,
.el-submenu__title.is-active {
  background-color: #2c3544;
  border-left: 4px solid #7186ff;
  border-bottom: none;
}
.icon {
  margin-right: 10px;
}
.icon_user {
  background-position: -12px -52px;
  width: 25px;
  height: 20px;
}
.icon_audit_log {
  background-position: -12px -80px;
  width: 24px;
  height: 24px;
}
.icon_lp {
  background-position: -12px -113px;
  width: 24px;
  height: 24px;
}
.icon_std_sym {
  background-position: -12px -146px;
  width: 24px;
  height: 12px;
}
.icon_trade_rule {
  background-position: -12px -168px;
  width: 24px;
  height: 24px;
}
.icon_quote_rule {
  background-position: -12px -196px;
  width: 24px;
  height: 24px;
}
.icon_quote_adjust {
  background-position: -12px -228px;
  width: 24px;
  height: 24px;
}
.icon_current_ord {
  background-position: -48px -55px;
  width: 24px;
  height: 24px;
}
.icon_lp_pos {
  background-position: -48px -90px;
  width: 24px;
  height: 21px;
}
.icon_std_sym_pos {
  background-position: -48px -120px;
  height: 24px;
  width: 24px;
}
.icon_trade_log {
  background-position: -48px -154px;
  height: 24px;
  width: 24px;
}
.icon_diagnosis {
  background-position: -48px -187px;
  width: 24px;
  height: 24px;
}
