.actions-top{
    margin-bottom: 10px;
}
.btm-action{
    text-align: center;
}
 .pagination{
    display: inline-block;
}

.request_wrap{
  width: 290px;
  height:90px;
}

/*dialog css*/
.dialog{
    .el-dialog{
        width: 735px;
    }
    .title{
        line-height: 1;
        font-size:14px;
        span{
          color:#666;
            i{
              margin-right: 10px;
              color:#323232;
              font-weight: bold;
            }
        }
        span+span{
          margin-left: 100px;
        }
    }
}