.user .actions-top {
  height: 70px;
}
.user .actions-top .el-button {
  border-radius: 20px;
  width: 120px;
  height: 40px;
  float: right;
  background-color: #0287fe;
  font-size: 14px;
  margin: 15px 0;
}
.user .btm-action {
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
}
.user .pagination {
  display: inline-block;
}
.user .icon_edit {
  background-position: -84px -122px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.user .icon_back {
  background-position: -84px -100px;
  width: 20px;
  height: 15px;
  cursor: pointer;
}
.user .confirm_btn {
  text-align: center;
}
.user .confirm_btn .el-button {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 300px;
  height: 40px;
}
.user .el-dialog {
  width: 840px;
}
