    .actions-top{
        margin-bottom: 10px;
    }
    .btm-action{
        margin-top: 20px;
        text-align: center;
    }
     .pagination{
        display: inline-block;
    }
    .el-button{
    border-radius:17px;
    background-color:#4150b6;
    font-size:12px;
    }